= bootstrap_form_for registration, url: registration_path do |reg_form|

  %fieldset
    %legend
      Tell us about yourself
    = reg_form.fields_for registration.guardian do |guardian|
      .row
        .col-xs-6
          = guardian.text_field :last_name, required: true
        .col-xs-6
          = guardian.text_field :first_name, required: true

  %fieldset
    %legend
      Tell us about your athlete
    = reg_form.fields_for registration.athlete do |athlete|
      =# TODO: Do a dynamic lookup using USSA API
      .row
        .col-xs-4
          = athlete.text_field :ussa_id, label: 'USSA ID'
      =# TODO: Disable until API call completes and populate if possible
      .row
        .col-xs-4
          = athlete.text_field :last_name, required: true
        .col-xs-4
          = athlete.text_field :first_name, required: true
        .col-xs-4
          = athlete.text_field :dob, placeholder: 'YYYY-MM-DD', type: 'date', label: 'Birthday', required: true, "parsley-type" => 'dateIso' 
      =# TODO: Enable only after birthday input. Ajax to limit registraion.sports only to those available by age.
      =# HERE: registration.sports does not exist anymore, change to use registration.js
      .row
        .col-xs-4.form-group
          = label_tag :sport
          = select_tag :sport, "", include_blank: true, class: 'form-control'

      =# TODO: Rest of form. Next, show program offerings based on age.

  = reg_form.submit("Register", class: 'btn btn-primary pull-right')
