%h3 Register

= simple_form_for @registration, url: registration_path do |reg_form|

  %fieldset
    %legend
      Tell us about yourself
    = simple_fields_for @registration.guardian do |guardian|
      %div.row
        = guardian.input :last_name, wrapper_html: { class: 'small-6 columns' }
        = guardian.input :first_name, wrapper_html: { class: 'small-6 columns' }

  %fieldset
    %legend
      Tell us about your athlete
    = simple_fields_for @registration.athlete do |athlete|
      %div.row
        = athlete.input :last_name, wrapper_html: { class: 'small-6 columns' }
        = athlete.input :first_name, wrapper_html: { class: 'small-6 columns' }

  = reg_form.submit("Register", class: 'button right')
