<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= content_for?(:title) ? yield(:title) : 'Tromssa' %></title>

    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class='container-fluid'>
      <div class='row hidden-xs banner'>
        <div class='col-xs-1 hidden-sm'>
          <%= image_tag(@current_club.logo_path, class: 'img-responsive', height: '100%') %>
        </div>
        <div class='col-xs-11'>
          <h2>
            <%= @current_club.name %>
          </h2>
        </div>
      </div>
    </div>
    <div class='container'>
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
